<div>
        <h1>Bienvenido a nuestra tienda</h1>
        <p>Explora nuestros productos.</p>
        
        <div>
            
            <a href="/products">Ver Productos</a>
            <a href="/realtimeproducts">Agregar Productos</a>
            
        </div>
</div>