<div>
    <h1>RealTimeProducts</h1>
    <section>
        <h2>Añadir productos</h2>
        <label for="title">Nombre del producto</label>
        <input type="text" id="title" placeholder="Ej: Harina, jugo, huevos." required>
        <label for="description">Descripción del producto</label>
        <input type="text" id="description" placeholder="Ej: 0000, naranja, colorados." required>
        <label for="category">Categoría del producto</label>
        <input type="text" id="category" placeholder="Ej: Almacen, destilados, limpieza." required>
        <label for="code">Código del producto</label>
        <input type="text" id="code" placeholder="Alfanumérico de 6 dígitos" required>
        <label for="price">Precio del producto</label>
        <input type="text" id="price" placeholder="Precio en AR$" required>        
        <label for="stock">Stock del producto</label>
        <input type="text" id="stock" placeholder="Stock a ingresar" required>
        <button onclick="sendDataCreate()">Añadir producto</button>
    </section>
    <section>
        <h2>Eliminar productos</h2>
        <label for="delete-id">Ingrese el ID del producto a eliminar</label>
        <input type="text" id="delete-id" required>
        <button onclick="sendDataDelete()">Eliminar producto</button>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>